{
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "overrides": [
        {
            "files": "*.{yml,yaml}",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
