# This file contains configuration for both development and production environments.
{
	{$CADDY_ADMIN_OPTION} 
	{$CADDY_DEBUG_OPTION}
	order vulcain before php_fastcgi
}

{$SERVER_WWW_REDIRECT_BLOCK} 

{$SERVER_NAME} {
	root * /srv/public
	vulcain
	php_fastcgi unix//var/run/php/php-fpm.sock {
		root /var/www/html/public
	}
	encode zstd gzip
	file_server
}
